.as_container {
  padding-block: 10rem;
  .about_swiper {
    z-index: 0;
    width: 90%;
    height: 75vh;
    position: relative;
    margin-bottom: 3rem;

    > div:nth-child(2) {
      span {
        border-radius: 0;
        opacity: 1;
        width: 50px;
        --swiper-theme-color: var(--cl-aboutSwiper);
        --swiper-pagination-bullet-inactive-color: var(
          --cl-main-font
        );
      }

      position: absolute;
      left: 40%;
    }
  }

  .swiperTitle p {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 3rem 0;
  }

  .about_swiperSlide {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 4rem;
      color: var(--cl-main-font);
      font-weight: 700;
      position: absolute;
    }
  }

  .swiperImg {
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    .swiperImg_file{
      height: 100%;
      width: auto;
    }
  }

  .swiperScript {
    position: relative;
    align-self: flex-start;
    margin-top: 2rem;
    width: 90%;
  }

  .about_swiperSlide span {
    text-align: left;
    font-size: 1.5rem;
    color: var(--cl-main-font);
    display: block;
    max-width: 50%;
  }
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1080px) {
  .as_container {
    .about_swiper {
      width: 100%;

      > div:nth-child(2) {
        display: none;
      }
    }

    .about_swiperSlide {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .swiperImg {
      height: 900px;

      p {
        align-self: baseline;
        padding-top: 4rem;
      }
    }
    .swiperScript {
      position: absolute;
      left: 5%;
      text-align: center;
      margin-top: 4rem;
      // bottom: 10rem;
      > span {
        text-align: center;
        letter-spacing: -0.02rem;
        font-size: 2.2rem;
        max-width: none;
      }
    }
  }
}

// / 태블릿, 아이패드 /
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
}

// / 아이패드 프로 /
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
}

// / 아이폰 SE /

@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
  .as_container{
    .swiperImg{
      >p{
        padding-top: 2rem;
        font-size: 3rem;
      }
    }
    .swiperScript{
      >span{
        font-size: 1.6rem;
      }
    }
  }
}

// / 스마트폰 모바일(세로) /

@media only screen and (min-device-width: 375px) and (max-device-width: 479px) {
  .as_container{
    .swiperImg{
      >p{
        padding-top: 2rem;
        font-size: 3rem;
      }
    }
    .swiperScript{
      >span{
        font-size: 1.5rem;
      }
    }
  }
}
