.atl_container {
  // height: 80vh;
  // overflow: hidden;
  overscroll-behavior: contain;
  position: relative;
}

.atl_contents {
  display: flex;
  justify-content: center;
  .atl_img .atl_year_digit,
  .atl_img {
    opacity: 1;
  }
}

.atl_img {
  width: 900px;
  height: 80vh;
  text-align: center;
  position: relative;
  padding-left: 3rem;
  // top: 100px;
  > div {
    display: flex;
    position: absolute;
  }
  .imgLR {
    display: flex;
    position: absolute;
    &::before {
      position: absolute;
      content: "";
      background-color: var(--cl-aboutSwiper);
      top: 0;
      left: 0;
      width: 90%;
      height: 95%;
      z-index: 0;
    }
    &:nth-child(n + 2) {
      opacity: 0;
    }
    img {
      object-fit: contain;
      width: 670px;
      // height: 780px;
      position: relative;
    }
    .atl_l {
      opacity: 0;
    }
    .atl_r {
      position: absolute;
    }
  }
}

.atl_year_digit {
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  bottom: 25rem;
  h2 {
    line-height: 7.5rem;
    position: relative;
    font-size: 8rem;
    max-width: 50rem;
    &:nth-child(2) {
      left: 11rem;
    }
  }
}
.atl_year_digit {
  h2 {
    transform: rotateX(90deg);
  }
  .year0 {
    transform: rotateY(0deg);
  }
}
.yearF,
.yearS {
  text-align: end;
  height: 6rem;
}

.tl_line_horizon {
  display: none;
}

.atl_attends {
  // padding-left: 15rem;
  width: 700px;
  display: grid;
  justify-content: end;


  .atl_attend_item {
    margin-bottom: 4rem;
    max-width: 460px;
    h3 {
      font-size: 4rem;
      margin-bottom: 1.2rem;
    }
    p {
      font-size: 1.6rem;
      margin-bottom: 0.5rem;
    }
  }
}
.scroll {
  position: absolute;
  height: 80vh;
  width: 20px;
  align-content: center;
  right: 30px;
  div {
    width: 20px;
    height: 20px;
  }
}
.nav_item {
  width: 20px;
  height: 20px;
  border-radius: 90px;
  background-color: gray;
  margin: 1rem;
  &:nth-child(1) {
    .navs {
      opacity: 1;
    }
  }
}
.navs {
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 90px;
  background-color: white;
}

@media screen and (max-width: 1440px) {
  .atl_img {
    width: 700px;
    height: 700px;
    text-align: center;
    position: relative;

    > img {
      object-fit: contain;
      width: 570px;
      height: 580px;
    }
  }

  .atl_year_digit {
    position: absolute;
    right: 0;
    bottom: 0;

    h2 {
      line-height: 6rem;
      position: relative;
      font-size: 6rem;
      max-width: 50rem;
      &:nth-child(2) {
        left: 5rem;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .atl_img {
    padding-left: 0.5rem;
    width: 600px;
    height: 600px;
    text-align: center;
    position: relative;

    > img {
      object-fit: contain;
      width: 470px;
      height: 480px;
    }
  }

  .atl_year_digit {
    position: absolute;
    right: 0;
    bottom: 0;

    h2 {
      line-height: 4.5rem;
      position: relative;
      font-size: 4.5rem;
      max-width: 50rem;
      &:nth-child(2) {
        left: 4rem;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .atl_img {
    width: 500px;
    height: 500px;
    text-align: center;
    position: relative;


    .imgLR{
      img{
        width: 500px;
      }
    }

    > img {
      object-fit: contain;
      width: 370px;
      height: 380px;
    }
  }

  .atl_year_digit {
    position: absolute;
    right: 0;
    bottom: 0;

    h2 {
      line-height: 3.5rem;
      position: relative;
      font-size: 3.5rem;
      max-width: 50rem;
      &:nth-child(2) {
        left: 3rem;
      }
    }
  }

  .atl_attends {
    // position: relative;
    // padding-left: 15rem;
    width: 700px;

    .atl_attend_item {
      margin-bottom: 4rem;
      width: 360px;
      h3 {
        font-size: 3rem;
        margin-bottom: 1.2rem;
      }
      p {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .atl_container {
    height: auto;
  }

  .atl_contents {
    display: flex;
    justify-content: unset;
  }

  .atl_img,
  .atl_year_digit,
  .scroll {
    display: none;
  }

  .tl_line_horizon {
    display: inline;
    z-index: 0;
    position: absolute;
    top: 12.5%;
    width: 100%;
  }

  .atl_attends {
    width: 2920px;
    display: flex;
    // gap: 2rem;
    // position: relative;
    justify-content:flex-start;
    padding-left: unset;
    // width: 700px;
    overflow-x: scroll;

    .atl_attend_item {
      padding-left: 3rem;
      width: 260px;
      // height: 200px;
      margin-bottom: 4rem;
      h3 {
        width: 240px;
        font-size: 2rem;
        margin-bottom: 1.2rem;
      }
      p {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

// / 태블릿, 아이패드 /
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
}

// / 아이패드 프로 /
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
}

// / 스마트폰 모바일(세로) /

@media only screen and (min-device-width: 375px) and (max-device-width: 479px) {
  .atl_container {
    height: auto;
  }

  .atl_contents {
    display: flex;
    justify-content: unset;
  }

  .atl_img,
  .atl_year_digit {
    display: none;
  }

  .tl_line_horizon {
    display: inline;
    z-index: 0;
    position: absolute;
    top: 12.5%;
  }

  .atl_attends {
    width: 2920px;
    display: flex;
    // gap: 2rem;
    // position: relative;
    padding-left: unset;
    // width: 700px;

    .atl_attend_item {
      padding-left: 3rem;
      width: 260px;
      // height: 200px;
      margin-bottom: 4rem;
      h3 {
        font-size: 2rem;
        margin-bottom: 1.2rem;
      }
      p {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

// / 아이폰 SE /

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
  .atl_container {
    height: auto;
  }

  .atl_contents {
    display: flex;
    justify-content: unset;
  }

  .atl_img,
  .atl_year_digit {
    display: none;
  }

  .tl_line_horizon {
    display: inline;
    z-index: 0;
    position: absolute;
    top: 12.5%;
  }

  .atl_attends {
    width: 2920px;
    display: flex;
    // gap: 2rem;
    // position: relative;
    padding-left: unset;
    // width: 700px;

    .atl_attend_item {
      padding-left: 3rem;
      width: 260px;
      // height: 200px;
      margin-bottom: 4rem;
      h3 {
        font-size: 2rem;
        margin-bottom: 1.2rem;
      }
      p {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
