.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit !important;

  h1 {
    font-size: 5rem;
  }

  > div {
    width: 50%;

    &:nth-child(1) {
      display: flex;
      justify-content: flex-end;
    }
  }
  .contact_Us {
    margin: 3rem 5rem;
    margin-bottom: 0;
    height: 80vh;
    min-height: 600px;
    background-color: rgb(98, 98, 98);
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    max-width: 800px;
  
    input, textarea {
      padding: 0.5rem;
      font-size: 2rem;
      color: white;
      background: none;
      border-bottom: 0.2rem solid gray;
      width: 30rem;
      margin: 1rem;
      resize: none;
    }
  
    input:focus, textarea:focus {
      animation-duration: 2s;
      border-bottom: 0.2rem solid white;
      outline: none;
    }
  
    button {
      width: 12rem;
      font-size: 2.2rem;
      padding: 1.2rem;
      border-bottom: 0.1rem solid white;
  
      &:hover {
        cursor: pointer;
      }
    }
  }
}


.contact_link {
  width: 50%;
  padding: 2rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  > div {
    padding: 2rem 0rem;
    text-align: center;
  }

  a, svg {
    color: var(--cl-main-font);
  }
}

.contact_Us {
  input::placeholder, textarea::placeholder {
    color: var(--cl-main-font);
  }
}

.contact_link a:hover {
  border-bottom: 0.1rem solid white;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    margin: 1rem;
  }
}

.contact_link > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  margin: 1rem;
}

.links div b {
  padding: 0.4rem;
}

@media screen and (max-width: 1440px) {
  .contact {
    h1 {
      font-size: 4rem;
    }

    > div:nth-child(1) {
      width: 50%;
      justify-content: center;

      > div {
        margin-right: 0;
      }
    }
  }

  .contact_Us {
    min-width: 500px;

    input, textarea {
      width: 20rem;
      font-size: 1.5rem;
    }

    button {
      font-size: 1.8rem;
    }
  }

  .contact_link {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1280px) {
  .contact {
    h1 {
      font-size: 3rem;
    }

    > div:nth-child(1) {
      width: 50%;
      justify-content: center;

      > div {
        margin-right: 0;
      }
    }
  }

  .contact_Us {
    min-width: 500px;

    input, textarea {
      width: 20rem;
      font-size: 1.2rem;
    }

    button {
      font-size: 1.3rem;
    }
  }

  .contact_link {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1080px) {
  .contact {
    h1 {
      font-size: 2.4rem;
    }

    > div:nth-child(1) {
      width: 50%;
      justify-content: center;

      > div {
        margin-right: 0;
      }
    }
  }

  .contact_Us {
    min-width: 300px;
    max-height: 600px;
    margin: 5rem 4rem;

    input, textarea {
      width: 15rem;
      font-size: 1.2rem;
      margin: 2rem;
    }

    button {
      font-size: 1.3rem;
      width: 10rem;
    }
  }

  .contact_link {
    font-size: 1rem;
  }

  .links {
    flex-wrap: wrap;
    max-width: 430px;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;

    > div {
      width: 100%;
    }

    h1 {
      font-size: 3.4rem;
    }

    > div:nth-child(1) {
      width: 100%;
      justify-content: center;

      > div {
        margin-right: 5rem;
      }
    }
  }

  .contact_Us {
    min-width: 300px;
    max-height: 1000px;
    margin: 5rem;

    input, textarea {
      width: 40vw;
      min-width: 200px;
      font-size: 2rem;
      margin: 1.5rem;
    }

    button {
      font-size: 2.4rem;
      width: 17rem;
    }
  }

  .contact_link {
    width: 100%;
    >div{
      padding: 0px;
    }
  }

  .links {
    max-width: 80%;
  }
}


// / 태블릿, 아이패드 /
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .contact{
    >div:nth-child(1){
      width: 70%;
    }
    >div:nth-child(2){
      width: 30%;
    }
  }
  .contact_Us {
    max-height: none;
    h1{
      font-size: 5rem;
    }
    input, textarea{
      font-size: 2.3rem;
      width: 400px;
    }
    button {
      font-size: 2.7rem;
      width: 16rem;
    }
  }
  .contact_link{
    width: 30%;
    >div{
      padding: 0px;
    }
    .links{
      flex-direction: column;
    }
  }
}

// / 아이패드 프로 /
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .contact{
    >div:nth-child(1){
      width: 70%;
    }
    >div:nth-child(2){
      width: 30%;
    }
  }
  .contact_Us {
    h1{
      font-size: 6rem;
    }
    input, textarea{
      font-size: 2.7rem;
      width: 80%;
    }
    button {
      font-size: 2.7rem;
      width: 16rem;
    }
  }
  .contact_link{
    width: 30%;
    .links{
      flex-direction: column;
    }
  }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 359px) {
  .contact_Us{
    h1{
      font-size: 2.8rem;
    }
    input,textarea{
      font-size: 1.3rem;
    }
    button{
      font-size: 2.5rem;
      width: 200px;
    }
  }
}

// / 스마트폰 모바일(세로) /

@media only screen and (min-device-width: 360px) and (max-device-width: 479px) {
  .contact_Us{
    h1{
      font-size: 2rem;
    }
    input,textarea {
      font-size: 1.2rem;
    }
    button {
      font-size: 1.4rem;
      width: 10rem;
    }
  }
}

//  surface duo
@media screen and (min-device-width: 480px) and (max-device-width: 768px) {

}