.menu_header.header_brand {
  background-color: transparent;
}

.menu_header {
  position: sticky;
  padding-top: 2.8rem;
  top: -2rem;
  z-index: 1;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  font-weight: bold;
  font-size: 2.5rem;
  gap: 7rem;
  background-color: var(--cl-main-bg);

  .menu_titleImg {
    position: relative;
    z-index: 1;
    bottom: 0.2rem;
  }

  .menu_bar_container {
    display: none;
  }
  .menu_bar_Btn {
    cursor: pointer;
  }

  a {
    cursor: pointer;
  }

  > nav {
    > ul {
      display: flex;
      gap: 5rem;

      > li:nth-child(1) {
        padding-top: 0.5rem;
        min-width: 273px;
        padding-right: 10rem;
      }
      > li:nth-child(n + 2) {
        > a {
          z-index: 1;
          text-align: center;
          text-transform: uppercase;
          color: var(--cl-main-font);
          text-decoration: none;

          &:hover {
            -webkit-text-stroke: 1px var(--cl-main-font);
            color: transparent;
          }
        }
        .active_link {
          -webkit-text-stroke: 1px var(--cl-main-font);
          color: transparent;
        }
      }
    }
  }

  .archive_sub {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--cl-about-bg);
    text-transform: uppercase;
    position: absolute;

    li {
      text-align: center;
      font-size: 1.6rem;
      min-width: unset;
      padding-right: unset;
    }

    a {
      color: var(--cl-main-font);
      text-decoration: none;
      &:hover {
        -webkit-text-stroke: 1px var(--cl-main-font);
        color: transparent;
      }
    }
  }

  .subActive {
    display: flex;
  }
}

@media screen and (max-width: 1440px) {
  .menu_header {
    font-size: 2.3rem;
    > nav {
      > ul {
        > li:nth-child(1) {
          padding-right: 5rem;
        }
      }
    }

    .archive_sub {
      padding: 0.2rem 1rem 1rem 1rem;

      a {
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .menu_header {
    font-size: 2rem;
    > nav {
      > ul {
        display: flex;
        gap: 3rem;
        > li:nth-child(1) {
          padding-right: 5rem;
        }

        > li:nth-child(n + 2) {
          > a {
            position: relative;
            top: 0.3rem;
          }
        }
      }
    }

    .archive_sub {
      gap: 0.5rem;
      padding: 0.2rem 1rem 1rem 1rem;

      a {
        font-size: 1.6rem;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .menu_header {
    position: sticky;
    height: 10vh;
    padding-top: unset;
    font-size: 1.6rem;
    justify-content: space-between;

    .menu_bar_container {
      display: flex;
      position: relative;
      top: 1.1rem;
      right: 1.5rem;
      order: 2;
    }

    nav {
      position: relative;
      left: 3.5rem;
      top: 1rem;
      order: 1;
      > ul {
        > li:nth-child(n + 2) {
          display: none;
        }
      }
    }
  }
}

// / 태블릿, 아이패드 /
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

// / 아이패드 프로 /
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
}

// / 스마트폰 모바일(세로) /

@media only screen and (min-device-width: 375px) and (max-device-width: 479px) {
  .menu_header {
    nav {
      position: relative;
      left: 1.5rem;
      top: 1rem;
      order: 1;
      > ul > li:nth-child(n + 2) {
        display: none;
      }
    }
  }
}

// / 아이폰 SE /

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
  .menu_header {
    position: sticky;
    height: 10vh;
    padding-top: unset;
    font-size: 1.6rem;
    justify-content: flex-end;

    .menu_bar_container {
      display: flex;
      position: relative;
      top: 1.1rem;
      right: 1.5rem;
      order: 2;
    }

    nav {
      position: relative;
      left: 5rem;
      top: 1rem;
      order: 1;
      > ul > li:nth-child(n + 2) {
        display: none;
      }
    }
  }
}
