/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@15.0.0-rc.0_react-dom@19.0.0-rc-f994737d14-20240522_react@19.0.0-rc-f994737d14-20240522__h33xfb6jvxbslachva5d7xtuc4/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/.pnpm/next@15.0.0-rc.0_react-dom@19.0.0-rc-f994737d14-20240522_react@19.0.0-rc-f994737d14-20240522__h33xfb6jvxbslachva5d7xtuc4/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/.pnpm/next@15.0.0-rc.0_react-dom@19.0.0-rc-f994737d14-20240522_react@19.0.0-rc-f994737d14-20240522__h33xfb6jvxbslachva5d7xtuc4/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/.pnpm/next@15.0.0-rc.0_react-dom@19.0.0-rc-f994737d14-20240522_react@19.0.0-rc-f994737d14-20240522__h33xfb6jvxbslachva5d7xtuc4/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./src/components/menu-modal.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.modal_dialog {
  width: 100vh;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  color: var(--cl-main-font);
  background-color: transparent;
  position: absolute;
  z-index: 2;
  text-align: center;
}
.modal_dialog::-webkit-backdrop {
  background: rgb(30, 30, 30);
}
.modal_dialog::backdrop {
  background: rgb(30, 30, 30);
}
.modal_dialog nav {
  height: 450px;
  width: 330px;
  margin: 0 auto;
}
.modal_dialog ul li a,
.modal_dialog ul li .archive_menu {
  text-transform: uppercase;
  font-size: 4rem;
  text-decoration: none;
  cursor: pointer;
  color: var(--cl-main-font);
}
.modal_dialog ul li a:hover,
.modal_dialog ul li .archive_menu:hover {
  -webkit-text-stroke: 1px var(--cl-main-font);
  color: transparent;
}
.modal_dialog .archive_sub_li {
  display: none;
  height: 0;
}
.modal_dialog .modal_close_Btn {
  position: absolute;
  left: 93.3%;
  bottom: 92%;
}
.modal_dialog .modal_close_Btn button {
  cursor: pointer;
  font-size: 4rem;
}
.modal_dialog .modal_close_Btn button:hover {
  -webkit-text-stroke: 1px var(--cl-main-font);
  color: transparent;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 479px) {
  .modal_dialog {
    width: 100%;
    padding: 0;
    transform: translateX(-1px);
  }
  .modal_dialog .modal_close_Btn {
    left: 86.5%;
    bottom: 89%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
  .modal_dialog {
    width: 100%;
  }
  .modal_dialog .modal_close_Btn {
    left: 85%;
    bottom: 87%;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@15.0.0-rc.0_react-dom@19.0.0-rc-f994737d14-20240522_react@19.0.0-rc-f994737d14-20240522__h33xfb6jvxbslachva5d7xtuc4/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/.pnpm/next@15.0.0-rc.0_react-dom@19.0.0-rc-f994737d14-20240522_react@19.0.0-rc-f994737d14-20240522__h33xfb6jvxbslachva5d7xtuc4/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/.pnpm/next@15.0.0-rc.0_react-dom@19.0.0-rc-f994737d14-20240522_react@19.0.0-rc-f994737d14-20240522__h33xfb6jvxbslachva5d7xtuc4/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/.pnpm/next@15.0.0-rc.0_react-dom@19.0.0-rc-f994737d14-20240522_react@19.0.0-rc-f994737d14-20240522__h33xfb6jvxbslachva5d7xtuc4/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./src/app/(menu-header)/archive/exhibition/page.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.exhibition {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.exhibition h1 {
  font-size: 4rem;
  margin-top: 4rem;
  margin: 3rem;
}

@media screen and (max-width: 1440px) {
  .exhibition h1 {
    font-size: 3.5rem;
    margin-top: 3rem;
    margin: 2rem;
  }
}
@media screen and (max-width: 1280px) {
  .exhibition h1 {
    font-size: 3rem;
    margin-top: 3.5rem;
    margin: 2rem;
  }
}
@media screen and (max-width: 1080px) {
  .exhibition h1 {
    font-size: 2.5rem;
    margin-top: 3.5rem;
    margin: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .exhibition h1 {
    font-size: 3rem;
    margin-top: 4rem;
    margin: 2rem;
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@15.0.0-rc.0_react-dom@19.0.0-rc-f994737d14-20240522_react@19.0.0-rc-f994737d14-20240522__h33xfb6jvxbslachva5d7xtuc4/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/.pnpm/next@15.0.0-rc.0_react-dom@19.0.0-rc-f994737d14-20240522_react@19.0.0-rc-f994737d14-20240522__h33xfb6jvxbslachva5d7xtuc4/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/.pnpm/next@15.0.0-rc.0_react-dom@19.0.0-rc-f994737d14-20240522_react@19.0.0-rc-f994737d14-20240522__h33xfb6jvxbslachva5d7xtuc4/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/.pnpm/next@15.0.0-rc.0_react-dom@19.0.0-rc-f994737d14-20240522_react@19.0.0-rc-f994737d14-20240522__h33xfb6jvxbslachva5d7xtuc4/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./src/components/archive-exhibiton.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.exhibition_band {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 350px;
  transform-style: preserve-3d;
  margin: 2rem;
}
.exhibition_band .books {
  width: 60%;
  max-width: 1600px;
  height: 7rem;
  margin: 1rem;
  text-align: center;
  display: flex;
  font-size: 3rem;
  font-weight: 900;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0;
}
.exhibition_band .books:nth-child(1) {
  position: relative;
  width: 70%;
  height: auto;
  min-width: 500px;
  max-width: 1300px;
  margin-bottom: 5rem;
}
.exhibition_band .books:nth-child(1) img {
  width: 60vw;
  height: 200px;
  max-width: 1300px;
  max-height: 300px;
  object-fit: cover;
}
.exhibition_band .books:nth-child(1) p {
  position: absolute;
  font-weight: 900;
  width: 110%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: pre-line;
  text-align: start;
}
.exhibition_band .books img {
  object-fit: fill;
  height: 7rem;
}

.books:nth-child(1) {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.books:nth-child(2) {
  background-color: rgb(225, 128, 0);
  color: white;
}

.books:nth-child(3) {
  background-color: white;
  color: black;
}

.books:nth-child(4) {
  background-color: rgb(255, 191, 0);
  color: rgb(95, 95, 95);
}

.books:nth-child(5) {
  background-color: rgb(0, 47, 255);
  color: white;
}

.books:nth-child(6) {
  background-color: rgb(66, 70, 82);
  color: white;
}

.books:nth-child(7) {
  background-color: rgb(176, 126, 45);
  color: white;
}

.books:nth-child(8) {
  background-color: chartreuse;
  color: black;
}

.books:nth-child(9) {
  background-color: white;
  color: black;
}

.couture2024 p {
  font-size: 4rem;
}

@media screen and (max-width: 1440px) {
  .exhibition_band .books {
    width: 70%;
  }
  .exhibition_band p {
    font-size: 2.8rem;
  }
  .couture2024 {
    margin-bottom: 4rem;
  }
  .couture2024 p {
    font-size: 3rem;
    width: 110%;
  }
}
@media screen and (max-width: 1280px) {
  .exhibition_band .books {
    width: 70%;
    height: 6rem;
  }
  .exhibition_band .books img {
    height: 6rem;
  }
  .exhibition_band p {
    font-size: 2.2rem;
  }
  .couture2024 {
    height: auto;
    margin-bottom: 3rem;
  }
  .couture2024 p {
    font-size: 3rem;
    width: 115%;
  }
  .couture2024 img {
    height: 200px;
  }
}
@media screen and (max-width: 1080px) {
  .exhibition_band .books {
    width: 75%;
    height: 5rem;
  }
  .exhibition_band .books img {
    height: 5rem;
  }
  .exhibition_band p {
    font-size: 1.8rem;
  }
  .couture2024 {
    margin-bottom: 1.8rem;
    height: 150px;
  }
  .couture2024 img {
    height: 150px;
  }
  .couture2024 p {
    font-size: 3rem;
    width: 120%;
  }
}
@media screen and (max-width: 768px) {
  .exhibition_band {
    margin-top: 1rem;
    display: grid;
    justify-items: center;
    height: auto;
    overflow: hidden;
  }
  .exhibition_band .books {
    position: relative;
    border-radius: 30px;
    width: 80%;
    height: 15vh;
    overflow: hidden;
    opacity: 1;
  }
  .exhibition_band .books:nth-child(1) {
    width: 80%;
    height: 15vh;
    margin-bottom: 1.9rem;
    min-width: 0px;
  }
  .exhibition_band .books:nth-child(1) p {
    justify-content: center;
    text-align: center;
    background-color: transparent;
  }
  .exhibition_band .books:nth-child(1) img {
    width: 100%;
    height: 200px;
  }
  .exhibition_band .books:nth-child(8) > div {
    display: none;
  }
  .exhibition_band .books div {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .exhibition_band .books img {
    object-fit: cover;
    width: auto;
    height: 100%;
  }
  .exhibition_band .books p {
    z-index: 2;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    align-content: center;
  }
  .exhibition_band .couture2024 {
    height: auto;
    margin-bottom: 3rem;
  }
  .exhibition_band .couture2024 p {
    width: 115%;
  }
  .exhibition_band .couture2024 img {
    height: 200px;
  }
  .exhibition_band p {
    font-size: 2.2rem;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 359px) {
  .exhibition_band .books p {
    font-size: 1.4rem;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 479px) {
  .exhibition_band .books p {
    font-size: 1.5rem;
  }
}
